@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./assets/fonts/IBMPlexSans-Medium.ttf');
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-Medium.ttf');
  font-display: swap;
}

.ant-modal {
  pointer-events: all !important;
}

.ant-table-thead > tr > th {
  background: #2483ff !important;
  font-weight: 500 !important;
  font-size: 18px;
  line-height: 27px;
  text-transform: capitalize;
  color: #f9f7ff !important;
}

.ant-popover-title {
  border-bottom: 0px !important;
}

.ant-popover-arrow {
  display: none !important;
}

.ant-spin {
  color: #2483ff !important;
}

.ant-spin-dot-item {
  background-color: #2483ff !important;
}

.ant-breadcrumb-separator {
  vertical-align: text-bottom;
}

.ant-table-tbody tr.ant-table-row {
  background: #f5f0ff !important;
}

/* .ant-table-tbody > tr.ant-table-row:nth-child(odd):hover > td,
.ant-table-tbody > tr:nth-child(odd) > td.ant-table-cell-row-hover {
  background: rgba(245, 240, 255, 0.8) !important;
} */

.ant-table-row:hover {
  background: rgba(245, 240, 255, 0.8) !important;
}

.ant-table-cell-ellipsis {
  white-space: initial !important;
  text-overflow: initial !important;
}

.ant-modal-content .ant-btn-primary {
  background-color: #2483ff !important;
}

.ant-modal-content .ant-btn-default:hover {
  color: #2483ff !important;
  border-color: #2483ff !important;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(178, 186, 203, 0.5);
  border-radius: 3px;
}
